{{> menu }}
<main class="container" id="carrito" style="color: #DBF227;">
    <article class="titulo">
        <h1 class="text-center my-4">Carritos</h1>
    </article>
    
    <section class="conteiner-info">
    {{#if carros.length}}
        {{#each carros}}
            <div class="conteiner-cart">
                <article class="titulo">
                    <h3 class="card-title text-center">Carrito ID: {{this._id}}</h3>
                </article>
                <section class="tabla">
                    <div class="table-responsive">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Sub-total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if this.products.length}}
                                    {{#each this.products}} <!-- Recorremos los productos dentro del carrito -->
                                        <tr>
                                            <td>{{this.product.title}}</td> <!-- Título del producto -->
                                            <td>${{this.product.price}}</td> <!-- Precio del producto -->
                                            <td>{{this.quantity}}</td> 
                                            <td >${{this.subTotal}}</td> 
                                            <!-- Sub-total calculado -->
                                        </tr>
                                        
                                    {{/each}}
                                    <tr class="table-info">
                                        <td>total</td> 
                                        <td></td>
                                        <td></td>
                                        <td style="font-size: 20px;" >${{this.total}}</td>
                                    </tr>
                                {{else}}
                                     <tr class="text-center"><td colspan="4">carritos sin productos</td></tr>
                                     <tr class="table-info">
                                        <td>total</td> 
                                        <td></td>
                                        <td></td>
                                        <td style="font-size: 20px;" >${{this.total}}</td>
                                    </tr>
                                {{/if}}    
                            </tbody>
                        </table>
                    </div>  
                </section>
                
            </div>
        {{/each}}
    {{else}}
        <p class="text-center">No hay carritos disponibles.</p>
    {{/if}}
    </section>
</main>



