{{> menu }}
<main class="conteiner-main" id="home">
  <h1>Nuestros productos</h1>
  <section class="conteiner-tarjetas">
      {{#each result.payload}}
        <div class="card" style="width: 18rem;">
          <img 
            src="{{#if this.thumbnail}}{{this.thumbnail}}{{else}}/img/default-product.jpg{{/if}}" 
            class="card-img-top" 
            alt="{{this.title}}"
          >
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">Precio: ${{this.price}}</p>
            <p class="card-text">id: {{this._id}}</p>
            <button type="button" class="btn" onclick=addCart()>
                            Añadir al carrito <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <a href="/detalles/{{this._id}}" class="btn btn-primary">Detalles</a>

          </div>
        </div>
      {{/each}}
      
  </section>
  {{!-- Corregir el tema de la paginacion --}}
    <div class="row paginacion">
        <div class="col text-center">
          {{#if result.hasPrevPage}}
            <a href="{{result.prevLink}}">Anterior</a>
          {{/if}}
        </div>
        <div class="col text-center">
          <span> Página {{result.page}} de {{result.totalPages}} </span>
        </div>
        <div class="col text-center">
          {{#if result.hasNextPage}}
            <a href="{{result.nextLink}}">Siguiente</a>
          {{/if}}
        </div>

    </div>

</main>



